.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 10vh;
}

.user-list{
    height: 400px;
    overflow-y: auto;
    width: 300px;
}
